:root {
    --color-logo: #000;
    --color-heading: #000;
    --color-body: #000;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Typography */
@font-face {
    font-family: 'adineue_probold';
    src: url('fonts/adineue-pro-bold-webfont.woff2') format('woff2'),
         url('fonts/adineue-pro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adineue_pro';
    src: url('fonts/adineue PRO.woff2') format('woff2'),
         url('fonts/adineue PRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adineue_light';
    src: url('fonts/adineue PRO KZ Light.woff2') format('woff2'),
         url('fonts/adineue PRO KZ Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body {
    font-family: "adineue_pro", Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    color: var(--color-body);
}

h1, h2, h3 {
    font-family: "adineue_probold", Arial, Helvetica, sans-serif;
    color: var(--color-heading);
}

/* Navigation Bar */
header {
    /* Need width for header when position is set to fixed */
    position: fixed;
    width: 100vw;
    top: 0;
}

.nav {
    background: #fff;
    position: fixed;
    display: flex;
}

.navBrand {
    position: absolute;
    left: 80px;
    top: 20px;
}

.icon {
    width: 40px;
    height: 40px;
}

#collapsible {
    position: absolute;
    top: 20px;
    left: 20px;
    transition: box-shadow .15s;
    cursor: pointer;
}

#collapsible__content {
    max-height: 0;
    overflow: scroll;
    opacity: 0;
    transition: all 0.3s;
    /* .list */
    padding-left: 0;
    /* .nav__list */
    width: 100%;
    margin: 0;
}

/* Nav Logo */
.navLogo {
    position: relative;
    width: 62.315px;
    height: 36.3px;  
    overflow: hidden;
}
    
.navLogoSize {
    width: 13.915px;
    height: 45.375px;
    background: #000;
    -webkit-transform: rotate(329deg);
    position: absolute;
}
    
.navLogoSize.s1 {
    top: 26.015px;
    left: 10.89px;
}
    
.navLogoSize.s2 {
    top: 13.6125px;
    left: 24.684px;
}
    
.navLogoSize.s3 {
    top: 1.21px;
    left: 39.0225px;
}

/* .nav__item */
.menDropdown .dropBtn {
    margin-top: 70px;
    border-top: 0.5px solid #000;
}

.dropBtn {
    font-size: 25px;
    border: none;
    outline: none;
    color: #000;
    background-color: inherit;
    letter-spacing: 1.5px;
    padding: 1rem;
    padding-bottom: 3.5px;
    border-bottom: 0.5px solid #000;
    width: 100vw;
}

.downArrow {
    position: relative;
    top: -5px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-right: 2px solid black;
    border-top: 2px solid black;
    transform: rotate(135deg);
    margin-left: 1px;
}

.menDropdownContent {
    display: none;
}

.womenDropdownContent {
    display: none;
}

.kidsDropdownContent {
    display: none;
}

/* Search */
.mobileSearchContainer {
    height: 90vh;
    width: 100vw;
    text-align: center;
    display: none;
    background-color: #fff;
    margin-top: 10vh;
}

.mobileSearch {
    letter-spacing: 1px;
    width: 100vw;
}

#webSearch {
    display: none;
}

/* Login */
#login {
    position: absolute;
    height: 90vh;
    width: 100vw;
    margin-top: 10vh;
    background-color: #f4f4f5;
    display: none;
}

.close {
    font-family: "adineue_light", Arial, Helvetica, sans-serif;
    font-size: 60px;
    -webkit-transform: rotate(45deg);
    color: #000;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

#login h1 {
    font-family: "adineue_probold", Arial, Helvetica, sans-serif;
    font-size: 70px;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

#login p {
    font-family: "adineue_pro", Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    letter-spacing: .5px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.importantText {
    color: red;
}

.loginContainer {
    padding: 10px;
}

label {
    font-size: 18px;
    text-align: left;
    display: inline-block;
    letter-spacing: 0.5px;
}

.passwordLabel {
    margin-top: 12px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 17px;
    letter-spacing: 0.5px;
}

.forgotPassword {
    position: absolute;
    right: 16px;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.loginContainer > button {
    background-color: #000;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.loginContainer > .loginBtn {
    margin-top: 30px;
}

button:hover {
    opacity: 0.8;
}

/* Cart */
#webCart {
    display: none;
}

.column a {
    float: none;
    font-size: large;
    color: #000;
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
    letter-spacing: 1px;
}

.column h3 a {
    font-size: 25px;
    pointer-events: none;
    padding-top: 0;
    padding-bottom: 0;
}   

.userIcon {
    position: absolute;
    height: 38px;
    width: 38px;
    cursor: pointer;
    right: 70px;
    top: 17px;
}

.searchIcon {
    position: absolute;
    height: 33px;
    width: 33px;
    cursor: pointer;
    right: 121px;
    top: 19.4px;
    filter: contrast(65%);
}

.cartIcon {
    position: absolute;
    height: 40px;
    width: 40px;
    cursor: pointer;
    right: 20px;
    top: 14px;
}

@media screen and (min-width: 768px) {
    .nav {
        flex-direction: row;
        height: 80px;
        width: 100vw;
    }

    .navBrand {
        position: initial;
        margin-top: initial;
        margin-left: initial;
    }

    .navLogo {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-top: -3px;
        margin-left: 80px;
    }

    #collapsible {
        display: none;
    }

    #collapsible__content { 
        overflow: hidden;
        max-height: 100%;
        opacity: 1;
    }

    .menDropdown {
        float: left;
        margin-left: 60px;
        width: initial;
    }
    
    .menDropdown .dropBtn {
        padding-top: 25px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 25px;
        border: none;
        width: initial;
        margin-top: initial;
        border-top: initial;
    }
    
    .menDropdown:hover {
        background-color: #f7f7f7;
    }
    
    .menDropdownContent {
        display: none;
        position: absolute;
        background-color: #f4f4f4;
        left: 0;
        top: 80px;
        width: 100%;
        z-index: 1;
    }
    
    .menDropdown:hover .menDropdownContent {
        display: block;
    }
    
    .womenDropdown {
        float: left;
        margin-left: 60px;
        width: initial;
    }
    
    .womenDropdown .dropBtn {
        padding-top: 25px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 25px;
        border: none;
        width: initial;
    }
    
    .womenDropdown:hover {
        background-color: #f7f7f7;
    }
    
    .womenDropdownContent {
        display: none;
        position: absolute;
        background-color: #f4f4f4;
        left: 0;
        top: 80px;
        width: 100%;
        z-index: 1;
    }
    
    .womenDropdown:hover .womenDropdownContent {
        display: block;
    }
    
    .kidsDropdown {
        float: left;
        margin-left: 60px;
        width: initial;
    }
    
    .kidsDropdown .dropBtn {
        padding-top: 25px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 25px;
        border: none;
        width: initial;
    }
    
    .kidsDropdown:hover {
        background-color: #f7f7f7;
    }
    
    .kidsDropdownContent {
        display: none;
        position: absolute;
        background-color: #f4f4f4;
        left: 0;
        top: 80px;
        width: 100%;
        z-index: 1;
    }
    
    .kidsDropdown:hover .kidsDropdownContent {
        display: block;
    }
    
    .column {
        float: left;
        width: 15%;
        background-color: #f4f4f4;
        height:fit-content;
        margin-top: 2%;
        margin-bottom: 2%;
        display: initial;
    }
    
    .column:first-child {
        margin-left: 14.5%;
    }
    
    .column a {
        float: none;
        font-size: large;
        color: #000;
        padding: 5px;
        text-decoration: none;
        display: block;
        text-align: left;
        letter-spacing: 1px;
    }
    
    .column h3 a {
        font-size: 25px;
        pointer-events: none;
        letter-spacing: 2px;
    }
    
    .column a:hover {
        background-color: #ddd;
    }
    
    .row::after {
        content: "";
        display: table;
        clear: both;
    }
    
    /* Nav Icons */
    .iconContainer {
        position: absolute;
        right: 0;
        display: initial;
    }
    
    .searchIcon {
        display: initial;
        height: 20px;
        width: 20px;
        transform: translateY(-3%);
        cursor: pointer;
        right: initial;
        top: initial;
        position: initial;
    }
    
    .userIcon {
        height: 30px;
        width: 30px;
        transform: translateY(11%);
        cursor: pointer;
        margin-left: 22px;
        right: initial;
        top: initial;
        position: initial;
    }
    
    .cartIcon {
        display: initial;
        height: 30px;
        width: 30px;
        margin-top: 18px;
        transform: translateY(10%);
        cursor: pointer;
        margin-right: 80px;
        margin-left: 20px;
        right: initial;
        top: initial;
        position: initial;
    }
    
    /* Search */
    .webSearchContainer {
        height: 65px;
        width: 100vw;
        text-align: center;
        display: none;
        background-color: #fff;
        margin-top: 80px;
    }
    
    .webSearch {
        letter-spacing: 1px;
        width: 50vw;
        right: 50%;
        transform: translate(50%);
    }

    /* Login */
    #login {
        position: absolute;
        height: 60vh;
        width: 25vw;
        background-color: #f4f4f5;
        display: none;
        right: 50%;
        top: 50%;
        transform: translate(50%);
        border: 1px solid #000;
    }
    
    .close {
        font-family: "adineue_light", Arial, Helvetica, sans-serif;
        font-size: 60px;
        -webkit-transform: rotate(45deg);
        color: #000;
        position: absolute;
        right: 20px;
        cursor: pointer;
    }
    
    .close:hover {
        color: #000;
    }
    
    #login h1 {
        font-family: "adineue_probold", Arial, Helvetica, sans-serif;
        font-size: 70px;
        letter-spacing: 1px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    
    #login p {
        font-family: "adineue_pro", Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-align: center;
        letter-spacing: .5px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .importantText {
        color: red;
    }
    
    .loginContainer {
        padding: 10px;
    }
    
    label {
        font-size: 18px;
        text-align: left;
        display: inline-block;
        letter-spacing: 0.5px;
    }
    
    .passwordLabel {
        margin-top: 12px;
    }
    
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 17px;
        letter-spacing: 0.5px;
    }
    
    .forgotPassword {
        position: absolute;
        right: 16px;
        font-size: 16px;
        letter-spacing: 0.5px;
    }
    
    .loginContainer > button {
        background-color: #000;
        color: #fff;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        letter-spacing: 0.5px;
    }
    
    .loginContainer > .loginBtn {
        margin-top: 30px;
    }
    
    button:hover {
        opacity: 0.8;
    }

    /* Cart */
    #webCart {
        height: calc(100vh - 80px);
        width: 22vw;
        background: #fff;
        position: relative;
        margin-left: 78vw;
        margin-top: 80px;
        display: none;
    }

    .card {
        height: 300px;
        width: 300px;
        background: #edeef0;
        margin: auto;
        margin-top: 20px;
        border: 3px solid #000;
        border-radius: 20px 20px 20px 20px;
    }

    .card > img {
        height: 160px;
        width: 160px;
        display: block;
        margin: auto;
        border: 2px solid #edeef0;
        border-radius: 20px 20px 20px 20px;
    }

    .card > h1 {
        font-family: "adineue_light", Arial, Helvetica, sans-serif;
        font-size: 22px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 5px;
        margin-left: unset;
    }

    .card > h2 {
        font-family: "adineue_light", Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-align: center;
        letter-spacing: 2px;
    }

    .itemCountContainer {
        font-family: "adineue_light", Arial, Helvetica, sans-serif;
        display: inline;
    }

    .plus {
        display: inline-block;
        font-size: 25px;
        text-align: center;
        height: 25px;
        width: 25px;
        background: #d1d4d9;
        cursor: pointer;
        border: 1px solid #d1d4d9;
        border-radius: 17.5px;
        margin-left: 40px;
    }

    .plus:hover {
        background: #b5bac2;
    }

    .itemCount {
        display: inline-block;
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .minus {
        display: inline-block;
        font-size: 25px;
        text-align: center;
        height: 25px;
        width: 25px;
        background: #d1d4d9;
        cursor: pointer;
        border: 1px solid #d1d4d9;
        border-radius: 17.5px;
    }

    .minus:hover {
        background: #b5bac2;
    }

    .card > h3 {
        font-family: "adineue_light", Arial, Helvetica, sans-serif;
        font-size: 23px;
        letter-spacing: 2px;
        display: inline;
        margin-left: 60px;
    }

    #webCart > h1 {
        font-family: "adineue_bold", Arial, Helvetica, sans-serif;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 80px;
        margin-left: unset;
    }

    .cartBtn {
        background-color: #000;
        color: #fff;
        padding: 14px 20px;
        border: none;
        cursor: pointer;
        width: 90%;
        margin-left: 5%;
        font-size: 18px;
        letter-spacing: 0.5px;
        position: absolute;
        bottom: 20px;
    }
}

/* Banner */
.banner {
    position: relative;
    margin-top: 80px;
    height: 35vh;
    width: 100vw;
    z-index: -2;
}

video {
    display: none;
}

.bannerTitle {
    display: none;
}

.thumbnails {
    position: absolute;
    bottom: 25px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    right: 50%;
    transform: translate(50%);
}

.thumbnails div {
    width: 8px;
    height: 8px;
    cursor: pointer;
    background: #aaa;
    border-radius: 100%;
}

.thumbnails div.highlighted {
    background-color: #777;
}

.slides {
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    width: 400px;
    padding: 0 0.25rem;
    height: 35vh;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    z-index: -1;
  }
  
  .slides > div {
    scroll-snap-align: start;
  }
  
  .slides img {
    width: 400px;
    object-fit: contain;
  }
  
  .slides::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 768px) {
    .banner {
        position: relative;
        margin-top: 80px;
        height: calc(100vh - 80px);
        width: 100%;
        z-index: -2;
        justify-content: center;
    }

    video {
        position: absolute;
        display: block;
        z-index: -2;
        /* Help Video stay in place */
        width: 100%;
        bottom: 0;
        right: 0;
    }

    .bannerTitle {
        position: absolute;
        display: block;
        font-size: 85px;
        text-transform: uppercase;
        left: 10px;
        margin-top: 10px;
        line-height: .9;
        text-shadow: 2px 2px #fff;
    }

    .thumbnails {
        position: absolute;
        bottom: 25px;
        display: flex;
        flex-direction: row;
        gap: 6px;
        right: 50%;
    }
    
    .thumbnails div {
        width: 8px;
        height: 8px;
        cursor: pointer;
        background: #aaa;
        border-radius: 100%;
    }
    
    .thumbnails div.highlighted {
        background-color: #777;
    }

    .slides {
        position: absolute;
        margin: 0 16px;
        display: grid;
        grid-auto-flow: column;
        gap: 1rem;
        width: 1400px;
        padding: 0 0.25rem;
        height: calc(100vh - 80px);
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        z-index: -1;
        right: 50%;
        transform: translate(50%);
      }
      
      .slides > div {
        scroll-snap-align: start;
      }
      
      .slides img {
        width: 1400px;
        object-fit: contain;
        margin-top: 7.5%;
        transform: initial;
      }
      
      .slides::-webkit-scrollbar {
        display: none;
    }
}